
.pelicula {
        background-color: #313030;
        padding: 1%;
        align-items: center;
        width: 228px;
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: Rubik;
        border-radius: 2%;
}


img{
    width: 200px;
    height: 280px;
    border-radius: 2%;
}

.botonPelis{
    display: flex;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    background-color: #1e1e1e;
    margin: 15px;
    border-radius: 5%;
    text-align: center;
}

.botonPelis:hover {
    color: #ff00a8
}

