.movies-container{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: space-evenly; 
    margin-bottom: 30px;
    align-items: center;
    
}

.barras{ 
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(100, 58, 84) 0%, rgb(18, 80, 122) 100%);
    font-family: Rubik;
    font-weight: bolder;
    padding: 10px;
}

.botonVerTodas{
    display: flex;
    font-size: 16px;
    color: rgb(255, 255, 255);  
    text-decoration: none;
    background-color: #ff00a8;
    font-family: Rubik;
    border-radius: 30px;
    padding: 7px;
    width: 40%;
    align-items: center;
    text-align: center;
   
    
}

.boton:hover {
    color: #ff00a8;
}

.favoritos{
    color: aliceblue;
}

.detalle{
    background-color: #313030;
    padding: 1%;
    align-items: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Rubik;
    border-radius: 2%;
}

.titulo1{
    font-family: Rubik;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.texto1{
    font-family: Rubik;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

@media(max-width: 720px){
    .buscador{
        margin-top: 72px;
        flex-wrap: wrap;
    }

    .barras{
        margin-top: 72px;
        flex-wrap: wrap;
    }
}



