.series-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 20px 10px 20px;
}

.titulo{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 10px;
    background-color: rgb(175, 148, 201);
    text-align: center;
}

.boton{
    display: flex;
    font-size: 16px;
    color: rgb(255, 255, 255);  
    text-decoration: none;
    padding: 20px;
    background-color: rgba(88, 46, 126, 0.46);
    margin-right: 50px;
}

.boton:hover {
    color: pink;
}