.header{
    display: flex;
    height: 100px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(202, 164, 238);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center; 
}

 .link{
    display: flex;
    font-size: 16px;
    color: rgb(255, 255, 255);  
    text-decoration: none;
    padding: 20px;
    background-color: rgba(88, 46, 126, 0.46);
    margin-right: 50px;
}

.link:hover {
    color: pink;
}