.header{
    display: flex;
    height: 100px;
    font-size: 10px;
    background-color: #d4ff26;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center; 
}

.imagen{
    height: 10px;
}

 .link{
    display: flex;
    font-size: 16px;
    color: #1e1e1e;
    text-decoration: none;
    margin-right: 50px;
}

.link:hover {
    color: pink;
}